*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    color: #272733;
}

.bg-color-light-green{
    background-color: #027455;
}

.bg-color-balticsea{
    background-color: #F5FFFC;
}


/* ----NAV-----*/

.navbar{
    background-color: #272733;
}
.navbar-nav {
    list-style-type: none;
}

ul li a {
    text-decoration: none;
    color: #fff;
}
ul li a:hover{
    color: #fff;
    font-weight: bold;
}
/*-----HEADER-------*/
.img-fluid{
    width: 70%;
    height: auto;
    border-radius: 48%;
}

#home-image img{
    filter: drop-shadow(0 0 10px #fff)
}


.header_h1{
    font-size: 120px;
    color: #028D68;
    font-weight: bold;
    text-shadow: 1px 17px 20px #000000;
}

.header_h2{
    font-size: 40px;
    color: #fff;
    font-weight: bold;
}

.button{
    color: #ffffff;
    font-weight: bold;
    background-color: #028D68;
    border-radius: 20px;
    border: 1px solid transparent;
    box-shadow: 1px 10px 10px #000000;
}

.button:hover{
    color: #000;
    background-color: #fff;
    border: 1px solid #028D68;
}

/* -----MAIN/about-me-----*/
.button-2{
    color: #027455;
    font-weight: bold;
    background-color: #fff;
    border-radius: 20px;
    border: 1px solid transparent;
    box-shadow: 1px 10px 10px #000000;
}

.button-2:hover{
    color: #fff;
    background-color: #027455;
    border: 1px solid #fff;
}
p{
    color: #001913;
    font-size: 15px;
}
.p2{
    color: #fff;
    font-size: 15px;
}

.img-fluid-2{
    padding-left: 150px;
    width: auto;
    height: 400px;
}
.img-fluid-3{
    padding-left: 220px;
    width: auto;
    height: 400px;
}
.img-fluid-4{
    padding-left: 100px;
    width: auto;
    height: 400px;
}
.img-fluid-5{
    padding-left: 62px;
    width: 650px;
    height: 400px;
}
.fa-circle-chevron-right{
    color: #027455;
}

.carousel-control-prev span{
    background-color: #f67600;
    border-radius: 50px;
}
@media (max-width: 992px){
    .navbar{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 1;

    }
    .navbar-toggler{
        background-color: #f67600;
    }
    .navbar-collapse{
        background-color: #272733;
        padding: 10px;
    }
    .navbar-nav{
        display: none;
        height: 1200px;
    }
    .header_h1{
        font-size: 30px;
    }
    .button{
        font-size: 15px;
    }
    .header_h2{
        font-size: 20px;
    }
    .main_h2{
        color: #000;
        font-size: 40px;
        font-weight: bold;
    }
    li a{
        font-size: 20px;
        font-weight: bold;
    }
    li a img{
        width: 40px;
    }
    header{
        padding-top: 100px;
    }
    .img-fluid-2{
        padding-left: 80px;
        width: auto;
        height: 300px;
    }
    .img-fluid-3{
        padding-left: 120px;
        width: auto;
        height: 300px;
    }
    .img-fluid-4{
        padding-left: 50px;
        width: 380px;
        height: 300px;
    }
    .img-fluid-5{
        padding-left: 20px;
        width: 370px;
        height: 300px;
    }
    #main_formulier{
        padding-top: 100px;
    }
}