* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'myriad-bold';
    src: url('assets/myriad-pro-cufonfonts-webfont/MYRIADPRO-BOLD.woff');
}

@font-face {
    font-family: 'myriad-regular';
    src: url('assets/myriad-pro-cufonfonts-webfont/MYRIADPRO-REGULAR.woff');
}

@font-face {
    font-family: 'myriad-light';
    src: url('assets/myriad-pro-cufonfonts-webfont/MyriadPro-Light.woff');
}

@font-face {
    font-family: 'roboto-regular';
    src: url('assets/roboto-cufonfonts-webfont/Roboto-Regular.woff');
}

@font-face {
    font-family: 'roboto-black';
    src: url('assets/roboto-cufonfonts-webfont/Roboto-Black.woff');
}

p {
    font-family: 'roboto-regular',sans-serif;
    color: #fff;
}

body {
    color: #272733;
}

.bg-color-main {
    background: linear-gradient(#000,#000);
}

.bg-color {
    background: linear-gradient(#000, #113a4d);
}


/* ----NAV-----*/
nav {
    background: linear-gradient(#f9ac62, #113a4d);
    width: 100%;
}

.nav-2 {
    background-color: #000;
    width: 100%;
}

.navbar-default {
    background: none;
    border: none;
}

.navbar-nav {
    list-style-type: none;
}

ul li a {
    text-decoration: none;
    font-size: 17px;
    color: #fff;
}

ul li a:hover {
    color: #d87314;
    font-style: italic;
    font-weight: bold;
}

ul li a:active {
    color: #d87314;
    font-style: italic;
    font-weight: bold;
}

/*-----HEADER-------*/
/*header {*/
/*    !*background-image: url(assets/bg-img-header.png);*!*/
/*    background: linear-gradient(#113a4d, #000);*/
/*    background-size: auto;*/
/*    padding-top: 100px;*/
/*    padding-bottom: 120px;*/
/*    !*background-position: top;*!*/
/*    !*background-repeat: no-repeat;*!*/
/*}*/

#header{
    padding-top: 120px;
    padding-bottom: 100px;
}
header{
    background-image: linear-gradient(rgba(17, 58, 77, 0.66), rgb(0, 0, 0)), url("assets/BUSH_BEHIND_LONG-2.png");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    background-color: #113a4d;
}
#home-image{
    width: 70px;
    background-size: cover;
}

.img-fluid {
    width: 100%;
    height: 100%;
}

.header_h1 {
    font-family: 'myriad-bold';
    font-size: 90px;
    color: #fff;
}

.header_h2 {
    font-family: 'myriad-light';
    font-size: 25px;
    color: #fff;
    font-weight: bold;
}

.graphic-span {
    font-family: 'myriad-bold';
    font-style: italic;
    color: #f9ac62;
}

.button {
    color: #ffffff;
    font-weight: bold;
    background-color: #ec811e;
    border-radius: 20px;
    border: 1px solid transparent;
    box-shadow: 1px 10px 10px #000000;
}

.button:hover {
    color: #f9ac62;
    background-color: #000;
}

/* -----MAIN/about-me-----*/
.main-h1 {
    font-family: 'roboto-black';
    font-weight: bold;
    font-size: 60px;
    color: #fff;
}
#about_div{
    padding-top: 150px;
    padding-bottom: 100px;
}

.about_streep {
    color: #f9ac62;
    font-size: 60px;
}

.button-2 {
    font-family: 'myriad-regular';
    color: #ec811e;
    font-weight: bold;
    background-color: #fff;
    border-radius: 20px;
    border: 1px solid transparent;
    box-shadow: 1px 10px 10px #000000;
}

.button-2:hover {
    color: #fff;
    background-color: #ec811e;
}

p {
    color: #001913;
    font-size: 20px;
}

.p2 {
    color: #fff;
    font-size: 20px;
}

.carousel-item {
    width: auto;
    height: 550px;
}

.img-2 {
    width: 400px;
    height: auto;
}

.img-3 {
    width: auto;
    height: 500px;
}

.img-4 {
    padding-left: 100px;
    width: auto;
    height: 400px;
}

.img-42 {
    padding-left: 100px;
    width: 400px;
    height: auto;
}

.img-5 {
    padding-left: 62px;
    width: 650px;
    height: 400px;
}

.img-fluid-6 {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.img-fluid-6:hover {
    filter: drop-shadow(0 7px 10px #d87314);
}

.fa-circle-chevron-right {
    color: #000;
}

.carousel-control-prev span {
    background-color: #ec811e;
    border-radius: 50px;
}

.project-bg {
    background-image: url(assets/bg-img-header.png);
    background-size: 100%;
    background-position: top;
    height: 100vh;
}

/*SKILLS*/
#photoshop, #illustrator, #figma, #blender, #after_effect, #cap_cut{
    border-radius: 20px ;
    transition: 5s ease;
}
.bg-color-main-hobby{
    background-image: radial-gradient(rgb(17, 58, 77), rgb(0, 0, 0));
}
.header_h3{
    font-size: 20px;
    padding: 5px;
    color: #fff;
    text-decoration: none;
}

/*----HOBBY PAGE----*/
#hobby {
    width: auto;
    height: auto;
}

@media (max-width: 992px) {
    nav {
        width: 100%;
        background-color: #f9ac62;
    }

    ul li a {
        text-decoration: none;
        color: #000;
        font-size: 35px;
    }

    .navbar-collapse {
        background-color: #f9ac62;
        padding: 10px;
        color: #000;
    }

    .navbar-nav {
        display: none;
        height: 1200px;
    }

    header {
        /*background-image: url(assets/bg-img-header.png);*/
        /*background-size: 150%;*/
        /*background-position: top;*/
        /*padding: 0;*/
    }

    .header_h1 {
        font-size: 30px;
    }

    .button {
        font-size: 15px;
    }

    li a {
        font-size: 20px;
        font-weight: bold;
    }

    li a img {
        width: 40px;
    }

    #header {
        padding-top: 100px;
        padding-bottom: 150px
    }

    .carousel-item {
        width: auto;
        height: 300px;
    }

    .img-2 {
        width: auto;
        height: 300px;
    }

    .img-3 {
        width: auto;
        height: 300px;
    }

    .img-4 {
        width: auto;
        height: 200px;
    }

    .img-fluid-5 {
        width: 370px;
        height: 300px;
    }

    .img-fluid-6 {
        width: 40px;
    }

    #main_formulier {
        padding-top: 100px;
    }
    #about_div{
        padding-bottom: 100px;
    }

    #hobby {
        width: auto;
        height: auto;
    }
}
.footer_text{
    font-size: 12px;
}

/*----ONDERNEMING PAGE----*/
main{
    height: auto;
}
